<!-- First Parallax Image with Logo Text 
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
    <div class="w3-display-middle" style="white-space:nowrap;">
      <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">Yuczara <span class="w3-hide-small">Marlen</span> Hernández Morales</span>
    </div>
  </div>-->

  <div class="container">
    <h1>Yuczara Marlen Hernández Morales</h1>
    <h2>Ingeniería en Desarrollo y Gestión de Software</h2>
    <div class="image">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSszM77ccdPorCumDVmPDvIrG33vYs6q8fyUg&usqp=CAU" alt="Juancho" style="width: 100;">
    </div>
    <h2>DS02SV-21</h2>
  </div>